<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="imgs/favico.png"/>
    <link rel="stylesheet" type="text/css" href="css/styles-JC.css"/>
    <title>Agiliza MEI</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,700;1,800&display=swap" rel="stylesheet">
    
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/maska@2/dist/maska.umd.js"></script>

    <script src="https://unpkg.com/vue-multiselect@2.1.6" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css">



    <script src="js/app.js" defer></script>





</head>

<body>
    <div id="app">

    <header>
        <div class="flex-center">
            <img src="imgs/logo01.png" alt="Agiliza MEI">
            <p>Agilize a criação</p>
            <p>de sua <b>MEI</b></p>
            <br>
            <p class="pequeno">escolha uma opção:</p>
        </div>
        <div class="header__buttons">
            <button class="cadastrar buttom" @click="toggleCadastro">CADASTRAR</button>
            <button class="consultar buttom" @click="toggleConsulta">CONSULTAR</button>
        </div>
    </header>

    <main>
        <p class="alinhar_ao_centro">Vamos agilizar o cadastro de sua <b>MEI</b>!</p>
    </main>


        <div id="consulta" v-if="mostraConsulta">
            <div class="wrapper">
                <p class="titulo">Entre com o seu CPF</p>
                <input type="text" name="cpf_consulta" id="cpf_consulta" v-maska data-maska="###.###.###-##" placeholder="000.000.000-00">
                <button id="botaoenviar" class="consultar buttom" type="submit">Enviar</button>
            </div>
        </div>



    <div id="cadastro" v-if="mostraCadastro">

        <div class="wrapper">
        <form class="formulario">
            <div class="formulario__titulo">
                <p class="titulo">Cadastrar</p>
            </div>
            <label for="viabilidade">Objetivo da Consulta de Viabilidade</label>
            <select id="opcao__viabilidade" name="opcao__viabilidade">
                <option value="0">SELECIONE</option>
                <option value="1">Inscrição inicial</option>
                <option value="2">Alteração de endereço</option>
                <option value="3">Alteração de atividade (CNAE)</option>
                <option value="4">Alt. de endereço e atividade(CNAE)</option>
            </select>
            
            <label for="requerente">CPF/CNPJ do Requerente</label>
            <input type="text" id="requerente" class="alinhar_ao_centro" name="requerente" v-maska data-maska="['###.###.###-##', '##.###.###/####-##']">
            
            <label for="cnaeprincipal">CNAE Principal (Atividade)</label>
            <input type="text" id="cnaeprincipal" name="cnaeprincipal" v-maska data-maska="####-#/##">
            
            <label for="cnaessecundarias">CNAES Secundárias (Máx:15)</label>
            <input id="cnaessecundarias" name="cnaessecundarias">

            <a href="lista_cnaes.html" class="botao_nrinscricao link_botao"  target="_blank" >Lista de Cnaes</a>
    
            <div class="formulario__tituloE">
                <p class="titulo">Endereço</p>
            </div>

            <label for="inscricaocadastral" style="position: relative;">Inscrição Cadastral</label> 
            <input type="text" id="inscricaocadastral" name="inscricaocadastral">
            <p>Onde encontrar?<a class="botao_nrinscricao link_botao" href="nrinscricao.html" target="_blank" style="margin-left: 10px;">Clique aqui</a></p>
            
            <label for="tipologradouro">Tipo: (Logradouro)</label>
            <input type="text" id="tipologradouro" name="tipologradouro" placeholder="Exemplo: Rua, Alameda, Avenida, etc.">
            
            <label for="logradouro">Endereço: (Logradouro)</label>
            <input id="logradouro" name="logradouro">

            <label for="numero">Número</label>
            <input id="numero" name="numero">
            
            <label for="numerocadastro">Número Cadastro</label>
            <input id="numerocadastro" name="numerocadastro">

            <a href="jean-parte2.html" class="consultar buttom">Enviar</a>

        </form>
    </div>


    </div>

    </div>



    <footer>
        <p></p>
    </footer>


</body>
</html>